<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>easybuy</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <display-name>Enconding</display-name>
    <filter-name>Enconding</filter-name>
    <filter-class>web.Encoding</filter-class>
    <init-param>
      <param-name>characterEncoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
    <init-param>
      <param-name>enabled</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>Enconding</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>Goodsadd</display-name>
    <servlet-name>Goodsadd</servlet-name>
    <servlet-class>web.servlet.Goodsadd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Goodsadd</servlet-name>
    <url-pattern>/manage/Goodsadd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>web.servlet.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Manage</display-name>
    <servlet-name>Manage</servlet-name>
    <servlet-class>web.servlet.Manage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Manage</servlet-name>
    <url-pattern>/manage/Manage</url-pattern>
  </servlet-mapping>
  
  <!-- 新闻增删该查控制器，前台分页管理 -->
  <servlet>
    <description></description>
    <display-name>NewsServlet</display-name>
    <servlet-name>NewsServlet</servlet-name>
    <servlet-class>web.servlet.NewsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewsServlet</servlet-name>
    <url-pattern>/NewsServlet</url-pattern>
  </servlet-mapping>
  
  <!-- 后台分页管理 -->
  <servlet>
    <description></description>
    <display-name>PageServlet</display-name>
    <servlet-name>PageServlet</servlet-name>
    <servlet-class>web.servlet.PageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PageServlet</servlet-name>
    <url-pattern>/manage/PageServlet</url-pattern>
  </servlet-mapping>
  
  <!-- 用户注册 -->
    <servlet>
    <description></description>
    <display-name>UserRegister</display-name>
    <servlet-name>UserRegister</servlet-name>
    <servlet-class>web.servlet.UserRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserRegister</servlet-name>
    <url-pattern>/UserRegister</url-pattern>
  </servlet-mapping>
  <!-- 用户地址添加 -->
  <servlet>
    <description></description>
    <display-name>AddUser</display-name>
    <servlet-name>AddUser</servlet-name>
    <servlet-class>web.servlet.AddUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddUser</servlet-name>
    <url-pattern>/AddUser</url-pattern>
  </servlet-mapping>
  
  <!-- 控制前段留言分页查询，添加 -->
   <servlet>
    <description></description>
    <display-name>LeaveServlet</display-name>
    <servlet-name>LeaveServlet</servlet-name>
    <servlet-class>web.servlet.LeaveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LeaveServlet</servlet-name>
    <url-pattern>/LeaveServlet</url-pattern>
  </servlet-mapping>
  <!-- 后台留言回复 -->
  <servlet>
    <description></description>
    <display-name>manageServlet</display-name>
    <servlet-name>manageServlet</servlet-name>
    <servlet-class>web.servlet.manageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>manageServlet</servlet-name>
    <url-pattern>/manage/manageServlet</url-pattern>
  </servlet-mapping>
  <!-- 购物车 -->
   <servlet>
    <description></description>
    <display-name>CarServlet</display-name>
    <servlet-name>CarServlet</servlet-name>
    <servlet-class>web.servlet.CarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CarServlet</servlet-name>
    <url-pattern>/CarServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NumAjaxServlet</display-name>
    <servlet-name>NumAjaxServlet</servlet-name>
    <servlet-class>web.servlet.NumAjaxServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NumAjaxServlet</servlet-name>
    <url-pattern>/NumAjaxServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NumAddServlet</display-name>
    <servlet-name>NumAddServlet</servlet-name>
    <servlet-class>web.servlet.NumAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NumAddServlet</servlet-name>
    <url-pattern>/NumAddServlet</url-pattern>
  </servlet-mapping>
</web-app>